body {
  background-color: #e0dfd5;
  color: #e0dfd5;
  margin: 0 auto;
}

h1 {
  color: #e0dfd5;
  font-size: 4rem;
  font-family: "Source Code Pro", monospace;
  font-weight: 100;
}

p {
  color: #e0dfd5;
  font-size: 1.5rem;
  font-family: "Nunito", sans-serif;
  font-weight: 100;
  margin: auto;
}
